.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
shapenet/
GeneratedEmbeddings/
#SavedModels/
primitives/
Models_copy/
discriminator_model.pth
generator_model.pth
# Built Visual Studio Code Extensions
*.vsix
#test.ipynb

nrrd_256_filter_div_32_solid/
 __pycache__/
 *.pycgit log