.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
InfoData/
shapenet/
GeneratedEmbeddings/
SavedModels/
primitives/
Models_copy/
# Built Visual Studio Code Extensions
*.vsix
test.ipynb
nrrd_256_filter_div_32_solid/
 __pycache__/
 *.pycgit log